@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<section> 
    <p>Criado pela BTW consultoria, por Bruno Almeida, Thales Santos e Willyam Oliveira</p>    
</section>
